* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #6D28D9;
    color: white;
    border-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left : 0
}

nav .logo h2 {
    font-size: 22px;
    font-weight: bold;
}

#navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

#navlinks li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 16px;
    transition: 0.3s;
}

#navlinks li a:hover {
    background-color: #C4B5FD;
    color: black;
    border-radius: 5px;
}

.container {
    width: 100%;
    padding: 30px;
    min-height: 300px;
}

#box1 { background-color: #FDE2E4;
margin-top: 67px; }
#box2 { background-color: #E2F0CB; }
#box3 { background-color: #CDEFFF; }
#box4 { background-color: #FFF1C9; }

.container h2 {
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
}
